[submodule "third-party/cxxopts"]
	path = third-party/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "third-party/bvh"]
	path = third-party/bvh
	url = https://github.com/madmann91/bvh
[submodule "third-party/json"]
	path = third-party/json
	url = https://github.com/nlohmann/json
[submodule "third-party/glm"]
	path = third-party/glm
	url = https://github.com/g-truc/glm
[submodule "third-party/open-image-denoise"]
	path = third-party/open-image-denoise
	url = https://github.com/openimagedenoise/oidn
[submodule "third-party/nanort"]
	path = third-party/nanort
	url = https://github.com/aodq/nanort
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt
